<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>
  <p>
    <strong>Lastname:</strong>
    <%= profile.lastname %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>
  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= profile.client_type %>
  </p>
</div>
