<ul class="nav nav-tabs">
  <li class="nav-item">
     <%= render "admin/link", resource: Brand %>
  </li>
  <li class="nav-item">
    <%= render "admin/link", resource: Product %>
  </li>
  <li class="nav-item">
    <%= render "admin/link", resource: Discount %>
  </li>
  <li class="nav-item">
   <%= render "admin/link", resource: Order %>
  </li>
   <li class="nav-item">
    <%= render "admin/link", resource: User %>
  </li>
   <li class="nav-item">
    <%= render "admin/link", resource: Profile %>
  </li>
    <li class="nav-item">
    <%= render "admin/link", resource: Category %>
  </li>
</ul>
