<p>
  <%= link_to "Admin", admin_path %> <%= " > #{params[:action].capitalize}" unless params[:action].eql?("index") %>
</p>
<nav>
  <%= render "admin/link", resource: Brand %>
  <%= render "admin/link", resource: Product %>
  <%= render "admin/link", resource: Discount %>
  <%= render "admin/link", resource: Order %>
  <%= render "admin/link", resource: User %>
  <%= render "admin/link", resource: Profile %>
</nav>
