<div id="<%= dom_id banner %>">
  <p>
    <strong>Description:</strong>
    <%= banner.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= banner.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= banner.link %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= banner.active %>
  </p>

</div>
