<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Banners", banners_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @banner.title %></li>
  </ol>
</nav>
<%= render @banner %>
<div>
  <%= link_to "Edit this banner", edit_banner_path(@banner) %> |
  <%= link_to "Back to banners", banners_path %>
  <%= button_to "Destroy this banner", @banner, method: :delete %>
</div>
