<%= form_with(model: discount) do |form| %>
  <% if discount.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :percent, class: "form-label" %>
    <%= form.text_field :percent, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :expiration_date, class: "form-label" %>
    <%= form.date_field :expiration_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
