<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name %>
  </p>
  <p>
    <strong>Logo:</strong>
    <%= link_to image_tag(brand.image_as_thumbnail), brand.image if brand.image.attached? %>
  </p>
  <p>
    <strong>
      <%= pluralize brand.products.count , "product" %>
    </strong>
  </p>
  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>
</div>
