<div class="card shadow-sm h-100">
  <%= link_to image_tag(brand.image_as_thumbnail(300), class:"bd-placeholder-img card-img-top", width:'50%', preserveAspectRatio: "xMidYMid slice"), brand.image if brand.image.attached?  %>
  <div class="card-body">
    <h5 class="card-title"><%= brand.name %></h5>
    <p class="card-text"> <%= brand.description.to_plain_text.truncate(32) %> </p>
    <p><small class="text-muted"><%= pluralize brand.products.count , "product" %> available in catalogue</small></p>
  </div>
  <div class="card-footer">
    <div class="list-group list-group-horizontal-md">
      <%= link_to "View", brand , class: "text-center text-primary flex-fill list-group-item list-group-item-action list-group-item-light" %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to "Edit", edit_brand_path(brand) , class: "text-center text-primary flex-fill list-group-item list-group-item-action list-group-item-light" %>
        <%= button_to "Delete", brand, method: :delete , class: "text-center text-danger flex-fill list-group-item list-group-item-action list-group-item-light" %>
      <% end %>
    </div>
  </div>
</div>
