<div id="<%= dom_id brand %>">
  <div class="row featurette">
    <div class="col-md-5 order-md-1">
      <%= link_to image_tag(brand.image_as_thumbnail, class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width: 500, height: 500, preserveAspectRatio: "xMidYMid slice"), brand.image if brand.image.attached? %>
    </div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= brand.name %> </h2>
      <br>
      <span class="text-muted"><%= pluralize brand.products.count , "product" %> available in catalogue</span>
      <br>
      <%= brand.description %>
    </div>
  </div>
</div>
