<div class="card shadow-sm h-100">
  <%= link_to image_tag(product.image_as_thumbnail(225), class:"img-fluid bd-placeholder-img card-img-top", width:'100%', preserveAspectRatio: "xMidYMid slice"), product.image if product.image.attached?  %>
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"> <%= product.description.to_plain_text.truncate(85) %> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= number_to_currency(product.price.to_f, delimiter: '', unit: '$') %></li>
    <li class="list-group-item"><small class="text-muted">In stock: <%= pluralize product.stock, "unit" %></small></li>
  </ul>
  <div class="card-body ">
    <div class="list-group list-group-horizontal">
      <%= link_to product , :class => "list-group-item list-group-item-action list-group-item-secondary" do %>
        <%= fa_icon "th-list" %>
      <% end %>
      <%= link_to add_to_cart_path( product_id: product.id,  quantity: 1), :class => 'list-group-item list-group-item-action list-group-item-secondary' do %>
        <%= fa_icon "cart-plus" %>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to edit_product_path(product), :class => "list-group-item list-group-item-action list-group-item-secondary" do %>
          <span><%= fa_icon "edit" %></span>
        <% end %>
        <%= button_to product, method: :delete, :class => "list-group-item list-group-item-action list-group-item-secondary" do %>
          <span><%= fa_icon "trash" %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
