<%= form_with model: [ brand, Product.new ] do |form| %>
  <h4>Add New Product:</h4>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.label :price %>
    <%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '', unit: ''), step: :any %>
  </p>
  <p>
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </p>
  <%= form.submit %>
<% end %>
