<div id="<% dom_id(product)%>">
  <div class="row featurette">
    <div class="col-md-5 order-md-1">
      <%= link_to image_tag(product.image_as_thumbnail(300), class: "bd-placeholder-img bd-placeholder-img-md featurette-image img-fluid mx-auto", width: 300, height: 300, preserveAspectRatio: "xMidYMid slice"), product.image if product.image.attached? %>
    </div>
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= product.name %> </h2>
      <br>
      Producido por <%= link_to product.brand.name,  product.brand %>
      <br>
      <strong><%= number_to_currency(product.price.to_f, delimiter: '', unit: '$') %></strong>
      <br>
      <span class="text-muted"><%= pluralize product.stock , "product" %> available in stock</span>
      <br>
      <%= product.description %>
    </div>
  </div>
  <%= link_to "Add to cart", add_to_cart_path( product_id: product.id,  quantity: 1) , class:"btn btn-success my-4"  %>
</div>
