<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <b>Atlas Store</b>
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><%= nav_link 'Home', root_path  %></li>
      <li><%= nav_link 'About', about_path  %></li>
      <li><%= nav_link 'Brands', brands_path%></li>
      <li><%= nav_link 'Products', products_path %></li>
      <% if user_signed_in? %>
        <li><%= nav_link 'My Orders', orders_path %></li>
        <li><%= nav_link 'Cart', shopping_cart_path %></li>
        <% if current_user.admin? %>
          <li>
            <%= nav_link 'Admin', admin_path %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
    </form>
    <% if user_signed_in? %>
      <div class="dropdown text-end">
        <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.email.split('@').first %>
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><%= link_to "Edit profile", edit_user_registration_path, class:"dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data: {"turbo-method": :delete} , class: "dropdown-item" %></li>
        </ul>
      </div>
    <% else %>
      <div class="text-end">
        <%= link_to 'Login', new_user_session_path, class:"btn btn-outline-light me-2" %>
        <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
