<nav>
  <b>* Atlastore *</b>
  <%= nav_link  'Home', root_path  %>
  <%= nav_link 'About', about_path %>
  <%= nav_link 'Brands', brands_path %>
  <%= nav_link 'Products', products_path %>
  <% if current_user %>
    <%= nav_link 'My Orders 🧾', orders_path %>
    <%= nav_link 'Cart 🛒', shopping_cart_path %>
    <%= nav_link "Hola " + current_user.email.split("@").first , edit_user_registration_path   %>
    <%= link_to "Sign out", destroy_user_session_path, data: {"turbo-method": :delete}%>
  <% else %>
    <%= nav_link 'Sign Up', new_user_registration_path %>
    <%= nav_link 'Login', new_user_session_path %>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <%= nav_link 'Admin', admin_path %>
  <% end %>
</nav>
